<mat-card *ngIf="!loading" class="example-card">
  <mat-card-header>
      <mat-card-title>
          <h1 *ngIf="!uid">Nueva Publicidad</h1>
          <h1 *ngIf="uid">Editar Publicidad</h1>
      </mat-card-title>
  </mat-card-header>
  <hr>

  <mat-card-content>
      <p>Los campos con * son obligatorios</p>
      <form [formGroup]="adsForm">

          <div class="row">
              <div class="col-sm-6">
                  <mat-form-field class="full-width">
                      <mat-label>Nombre Publicidad*</mat-label>
                      <input matInput type="text" formControlName="name">
                  </mat-form-field>
                  <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                      <mat-error class="error-message" *ngIf="name?.errors?.required">
                          El campo es obligatorio
                      </mat-error>
                  </mat-error>
              </div>
          </div>


          <div class="row">
              <div class="col-sm-6">
                  <div class="mb-3">
                      <label for="formFile" class="form-label">Imagen Publicidad*</label>
                      <input class="form-control" type="file" id="formFile" (change)="uploadImgAds($event)">
                  </div>
              </div>
          </div>
          <div *ngIf="imageSrc" class="row mb-3">
              <div class="col-sm-6">
                  <img class="img-thumbnail" [src]="imageSrc" alt="image" width="150">
              </div>
          </div>
      </form>

  </mat-card-content>
  <mat-card-actions class="mt-5 mb-3" style="display: flex; justify-content: flex-end;">
      <button *ngIf="!uid" class="btn-save-store" mat-stroked-button
           (click)="saveAds()">Guardar</button>
      <button *ngIf="uid" class="btn-save-store" (click)="updateAds()" mat-stroked-button>Actualizar</button>
      <button mat-stroked-button class="btn-delete-store" [routerLink]="['/ads']">Cancelar</button>
  </mat-card-actions>
</mat-card>
<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="errorUpdatingMsg" class="alert alert-danger text-center" role="alert">
  Ocurrio un erro no se pudo actualizar los datos
</div>
<div *ngIf="updatedMsg" class="alert alert-info text-center" role="alert">
  Información actualizada
</div>
