.example-card {
  width: 100%;
  max-height: 100%;
  box-shadow: none;
  background: none;
  font-family: face;
  margin-top: 50px;
  .mat-card-title {
    width: 100% !important;

    .header-content {
      padding: 4%;
      width: 100%;
    }
  }
}

agm-map {
  height: 300px;
}

.tittle-custom {
  width: 100%;
}

.search-content {
  display: flex;
  justify-content: center;

  input {
    width: 100%;
  }

  .btn-search {
    color: #F08302;
    border: 1px solid #F08302;
  }

  .add-store {
    display: flex;
    justify-content: flex-end;
    height: 35px;
    align-self: center;
  }

  select {
    color: #007aff;
  }

  .centered {
    margin-top: 25px;
  }
  
}

.btn-delete {
  color: #ee4b56;    
}

.loading {
  width: 100%;
  text-align: center;

  span {
    font-size: larger;
    font-weight: bolder;
  }
}

.noData {
  width: 100%;
  text-align: center;

  span {
    font-size: larger;
    font-weight: bolder;
  }
}

table {
  width: 100%;  
  th {
    font-weight: bold;
    color: black;
  }
}

.table {
  overflow-y: auto;
}

.custom-modal {
  table {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .search-content {
    flex-direction: column;

    .btn-add-store {
      position: relative;
      left: 0;
      right: 0;
      margin: auto;
      margin-top: 8%;
    }
  }

  .table {
    display: block;
    overflow-x: auto;

    table th {
      padding-left: 1% !important;
      padding-right: 1% !important;
    }

    table {
      .th-initial {
        padding-left: 3px;
      }

      .td-initial {
        padding-left: 3px;
      }

      .th-final {
        padding-right: 0px !important;
      }

      .td-final {
        padding-right: 0px !important;
        display: flex;
      }
    }
  }
}

/*fix glitch visual que hace que la card se hunda cuando la pantalla es menor a 600px*/