<mat-card class="example-card">
  <mat-card-header>
    <div class="row">
      <div class="col-12">
        <h1>Metricas</h1>
      </div>
    </div>
    <hr />
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" (dateChange)="update('ini', $event)">
        <input matEndDate formControlName="end" placeholder="End date" (dateChange)="update('end', $event)">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    
      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
  </mat-card-content>
</mat-card>
